/////////////////////////////////////////////////////////以下為demo範例///
// 2018-1005 全文檢索 table修正
.gsc-above-wrapper-area{
    margin-bottom: 0;
    td { padding: 0 5px; border: 0; }
}
.gsc-refinementsArea{ border-bottom: 1px solid transparent;}


// 首頁區塊設定
.section {
    // padding: 0 0 3em;
    @include box-sizing; 
    text-align: center;
    [class^="col"] {
        // border: 2px solid #FFF;
        // background: #DEDEDE;
        // min-height: 250px;
        // color: $primaryColor;
        // text-align: center;
        // line-height: 250px;
        // font-size: 1.5em;
        // font-weight: bold;
        @include box-sizing();
    }
}

// 內頁的雲
.cloud-A, .cloud-B, .cloud-C, .cloud-D, .cloud-E{
    position: absolute;
    img{
        width: 100%;
        height: 100%;
    }
}
.cloud-A{
    width: 420px;
    height: 320px;
    z-index: 100;
    top: 320px;
    left: 160px;
    animation: cloudAA 12s infinite;
}
@-webkit-keyframes cloudAA {
    0% { left: 320px; }
    50% {left: 0;}
    100% {left: 320px;}
}

.cloud-B{
    width: 520px;
    height: 320px;
    z-index: 99;
    top: 220px;
    left: -10%;
    animation: cloud-B 18s infinite;
}
@-webkit-keyframes cloud-B {
    0% { left:-3%; }
    50% {left: -10%;}
    100% {left: -3%;}
}

.cloud-C{
    width: 670px;
    height: 365px;
    z-index: 98;
    top: 300px;
    left: -20%;
    animation: cloud-C 36s infinite;
}
@-webkit-keyframes cloud-C {
    0% { left: -20%; }
    50% {left: -3%;}
    100% {left: -20%;}
}

.cloud-D{
    width: 480px;
    height: 315px;
    z-index: 97;
    right: 90px;
    top: 420px;
    animation: kk 12s infinite;

}
@-webkit-keyframes kk {
    0% { right: 90px; }
    50% {right: 0;}
    100% {right: 90px;}
}

.cloud-E{
    width: 770px;
    height: 420px;
    z-index: 96;
    right: -15%;
    top: 200px;
    animation: cloud-E 24s infinite;
}
@-webkit-keyframes cloud-E {
    0% { right: -15%; }
    50% {right: -20%;}
    100% {right: -15%;}
}

@media screen and (max-width: 880px) {
.container{
    .col{
        .wood{
            width: 100%;
        }
    }
    .cloud-A, .cloud-D{
        display: none;
    }
}
}

// Key-Visual
.Key-Visual{
    // padding-top: 3em;
    // @include box-sizing;
    .container{
        position: relative;
        .col{
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(12); //992px  width:100%
            @include make-lg-column(12); //1400px width:100%
            @include gutter(0); //gutter 代表左右要留白
            position: relative;
            .wood{
                display: block;
                margin: 80px auto 50px;
                width: 790px;
                height: 400px;  
                background: url(../images/animate/wood.png) 50% 50% no-repeat;
                position: relative;
                z-index: 297;
                h3{
                    padding-top: 160px;
                    padding-left: 40px;
                    .desk, .mobile{
                        margin: 0 auto;
                    }
                    .desk{ display: block; }
                    .mobile{ display: none; }
                }
                .papa, .mama, .girl, .boy{
                    position: absolute;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .papa{
                    width: 150px;
                    height: 140px;
                    left: 150px;
                    top: -35px;
                    transform: rotate(-15deg);
                    transform-origin: bottom center;
                    z-index: 298;
                    animation: papa 3s infinite;
                }
                @-webkit-keyframes papa {
                    0% { transform: rotate(-15deg); }
                    50% { transform: rotate(-10deg); }
                    100% { transform: rotate(-15deg); }
                }
                .mama{
                    width: 140px;
                    height: 135px;
                    left: 452px;
                    top: -50px;
                    transform: rotate(5deg);
                    transform-origin: bottom center;
                    z-index: 298;
                    animation: mama 3s infinite;
                }
                @-webkit-keyframes mama {
                    0% { transform: rotate(5deg); }
                    50% { transform: rotate(-5deg); }
                    100% { transform: rotate(5deg); }
                }
                .girl{
                    width: 100px;
                    height: 95px;
                    left: 370px;
                    top: -20px;
                    z-index: 299;
                    animation: girl .3s infinite;
                }
                @-webkit-keyframes girl {
                    0% { top: -16px; }
                    100% { top: -20px; }
                }
                .boy{
                    width: 100px;
                    height: 105px;
                    left: 280px;
                    top: -20px;
                    transform: rotate(-5deg);
                    z-index: 300;
                    animation: boy .3s infinite;
                }
                @-webkit-keyframes boy {
                    0% { top: -20px; }
                    100% { top: -16px; }
                }
                
            }
        }
        .tree-king{
            position: absolute;
            z-index: 301;
            width: 1220px;
            right: 29%;
            bottom: -60px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .cloud-A, .cloud-B, .cloud-C, .cloud-D, .cloud-E{
            position: absolute;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .cloud-A{
            width: 420px;
            height: 320px;
            z-index: 100;
            top: 45%;
            left: -40%;
            animation: cloud-A 6s infinite;
        }
        @-webkit-keyframes cloud-A {
            0% { left: -40%; }
            50% {left: -30%;}
            100% {left: -40%;}
        }

        .cloud-B{
            width: 690px;
            height: 370px;
            z-index: 99;
            top: 50%;
            left: -10%;
            animation: cloud-B 12s infinite;
        }
        @-webkit-keyframes cloud-B {
            0% { left:-3%; }
            50% {left: -10%;}
            100% {left: -3%;}
        }
        
        .cloud-C{
            width: 670px;
            height: 365px;
            z-index: 98;
            top: 20%;
            left: -20%;
            animation: cloud-C 36s infinite;
        }
        @-webkit-keyframes cloud-C {
            0% { left: -20%; }
            50% {left: -3%;}
            100% {left: -20%;}
        }

        .cloud-D{
            width: 480px;
            height: 315px;
            z-index: 97;
            right: -35%;
            top: 40%;
            animation: cloud-D 36s infinite;
        }
        @-webkit-keyframes cloud-D {
            0% { right: -35%; }
            50% {right: -30%;}
            100% {right: -35%;}
        }

        .cloud-E{
            width: 770px;
            height: 420px;
            z-index: 96;
            right: -15%;
            top: 40%;
            animation: cloud-E 12s infinite;
        }
        @-webkit-keyframes cloud-E {
            0% { right: -15%; }
            50% {right: -20%;}
            100% {right: -15%;}
        }
    }
    @media screen and (max-width: 880px) {
        .container{
            .col{
                .wood{
                    width: 100%;
                }
            }
            .cloud-A, .cloud-D{
                display: none;
            }
        }
    }

    @include screen('tablet') {
        .tree-king{
            z-index: 296 !important;
        }
    }
    @include screen('mobile') {
        .container{
            .col{
                .wood{
                    background-size: cover;
                    h3{
                        padding-left: 2em;
                        padding-right: 2em;
                        padding-top: 130px;
                        img{
                            max-width: 100%;
                            text-align: center;
                        }
                        .desk{ display: none; }
                        .mobile{ display: block; }
                    }
                    .papa{
                        left: 60px;
                        top: -25px;
                    }
                    .mama{
                        left: 420px;
                    }
                    .girl{
                        left: 320px;
                    }
                    .boy{
                        left: 210px;
                        top: -20px;
                    }
                }
            }
        }
    }
    @include screen('xs_mobile') {
        .container{
            .col{
                .wood{
                    background-size: cover;
                    h3{
                        padding-left: 2em;
                        padding-right: 2em;
                        padding-top: 130px;
                        img{
                            max-width: 100%;
                            text-align: center;
                        }
                        .desk{ display: none; }
                        .mobile{ display: block; }
                    }
                    .papa{
                        width: 120px;
                        height: 112px;
                        left: 2%;
                        top: -25px;
                    }
                    .mama{
                        width: 112px;
                        height: 108px;
                        left: 68%;
                        top: -30px;
                    }
                    .girl{
                        width: 80px;
                        height: 76px;
                        left: 50%;
                        top: 0;
                        animation: girl .3s infinite;
                    }
                    @-webkit-keyframes girl {
                        0% { top: 0; }
                        100% { top: -4px; }
                    }
                    .boy{
                        width: 80px;
                        height: 84px;
                        left: 50%;
                        margin-left: -80px;
                        top: -10px;
                        animation: boy .3s infinite;
                    }
                    @-webkit-keyframes boy {
                        0% { top: -10px; }
                        100% { top: -14px; }
                    }
                }
            }
        }
    }
}

// 魔法學院檔案
.List{
    min-height: 768px;
    background:
    url(../images/basic/MP-bg-List.png) left top repeat-x, #62c755;
    position: relative;
    @include box-sizing;
    .container{ 
        position: relative;
    }
    .Inner{
        position: absolute;
        margin: auto;
        // top: 700px;
        // bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        min-height: 680px;
        background: url(../images/animate/list-blackboard.png) 50% 180px no-repeat;
        background-size: contain;
        h2{
            margin: 3em 0 1em;
            img{
                max-width: 100%;
                max-height: 100%;
            }
            .desk, .mobile{ margin: 0 auto;}
            .desk{ display: block; }
            .mobile{ display: none; }
        }
        .link{
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(8);
            @include make-lg-column(8);
            @include box-sizing();
            margin-top: 120px;
            padding-left: 120px;
            a{
                display: block;
                text-align: left;
                padding-top: .8em;
                padding-bottom: .8em;
                padding-left: 2.5em;
                @include border-radius(3em) ;
            }
        }
        .pic{
            @include make-xs-column(12);
            @include make-sm-column(12);
            @include make-md-column(4);
            @include make-lg-column(4);
            @include box-sizing();
            img{
                padding-top: 160px;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    
    .Left, .Right{
        position: absolute;
        z-index: 99;
    }
    .Left{
        left: -60px;
        top: 60px;
    }
    .Right{
        right: -60px;
        top: 50px;
    }
    @include screen('tablet') {
        .Inner{
            position: static;
            padding: 2em 0 1em;
            h2{
                padding: 0 .5em;
            }
            .link{
                margin-top: 70px;
                a{
                    padding-bottom: 0;
                    padding-left: 0;
                    img{
                        width: auto;
                        height: auto;
                    }
                }
            }
            .pic{
                img{
                    padding-top: 1em;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .Left, .Right{ display: none; }
    }
    @include screen('mobile') {
        .Inner{
            background: url(../images/animate/list-blackboard-mobile.png) 50% 230px no-repeat;
            background-size: contain;
            h2{
                .desk{ display: none; }
                .mobile{ display: block; }
            }
            .link{
                padding-left: 3.6em;
                padding-right: 3.6em;
                margin-top: 3em;
                a{
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
    @include screen('xs_mobile') {
        .Inner{
            .link{
                padding-left: 1.6em;
                padding-right: 1.6em;
                margin-top: 2.2em;
            }
        }
    }
}

// 影音連結
.Video{
    min-height: 768px;
    background: 
        url(../images/animate/video-bg.png) 50% 220px no-repeat,
        url(../images/basic/MP-bg-Video.png) left top repeat-x;
    background-size: auto, contain;
    .container{ max-width: 1000px; }
    // RWD Youtube
    .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

    .Multiple_slider{
        margin-top: 1em;
        margin-bottom: 2em;

        .Item{
            // @include gutter(.5em);
            padding: .75em;
            margin: 0 .5em;
            min-height: 180px;
            background: #fff;
            p{
                margin: .65em 0;
                height: 46px;
                overflow: hidden;
                font-size: 1.25em;
            }
        }

        .slick-prev{
            background: url(../vendor/slick/icon_arrow_left_02.png) center center no-repeat;
            background-size: 30px 30px;
            left: -40px;
            opacity: 0.75;
            filter: alpha(opacity=75);
            &:hover, &:focus{
                opacity: 1;
                filter: alpha(opacity=100);
                outline: solid 1px #fff;
            }
        }
        .slick-next{
            background: url(../vendor/slick/icon_arrow_right_02.png) center center no-repeat;
            background-size: 30px 30px;
            right: -40px;
            opacity: 0.75;
            filter: alpha(opacity=75);
            &:hover, &:focus{
                opacity: 1;
                filter: alpha(opacity=100);
                outline: solid 1px #fff;
            }
        }

        @media screen and (max-width: 1080px){
            .slick-prev{ left: 6px; }
            .slick-next{ right: 6px;}
        }
    }

    .GoLink{
        a{
            display: block;
            padding: .615em;
            @include border-radius(1em) ;
            // &:hover, &:focus{
            //     opacity: 1;
            //     filter: alpha(opacity=100);
            //     outline: solid 1px #fff;
            // }
            @include screen('mobile') {
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    @include screen('xs_mobile') {
        background: 
            url(../images/animate/video-bg.png) 50% 200px no-repeat,
            url(../images/basic/MP-bg-Video.png) left top repeat-x;
        background-size: auto, contain;
    }
}

// 稅務書房
.Links{
    min-height: 768px;
    background: 
        url(../images/animate/links-contain-bg.png) 50% top no-repeat,
        url(../images/basic/MP-bg-Links.png) left top repeat-x;
    background-size: auto, contain;
    .caption{
        margin-bottom: 2em;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .Item{
        // @include clearfix;]
        clear: both;
        zoom: 1;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after { clear: both; }

        a{
            display: block;
            width: 33%;
            float: left;
            img{
                max-width: 100%;
                max-height: 100%;
            }
            
            &:hover, &:focus{
                transition-timing-function: ease;
                transition: .6s;
                transform:translateY(-1.25em);
                background: none;
            }
        }
    }
    @include screen('tablet') {
        .Item{
            a{
                width: 100%;
                float: none;
            }
        }
    }
    @include screen('mobile') {
        .caption{ display: none; }
        .Item{
            a{
                img{
                    max-width: 90%;
                    max-height: 90%;
                }
            }
        }
    }
}

// 下載專區
.Download{
    min-height: 600px;
    background: 
        url(../images/animate/Download-bg.png) 50% -160px no-repeat,
        url(../images/basic/MP-bg-Download.png) left top repeat-x;
    background-size: auto, contain;
    h2{ margin: 2em 0 0; }
    .col{ margin-top: -20px;}
    a{
        display: inline-block;
        transform: rotate(10deg);
        transform-origin: 50% 50%;
        &:hover, &:focus{
            transition-timing-function: ease;
            transition: .6s;
            transform: rotate(0);
            background: none;
        }
    }
    @include screen('mobile') {
        .caption{ display: none; }
        a{
            margin-top: 100px;
            img{
                max-width: 90%;
                max-height: 90%;
            }
        }
    }
}

// 4-8
.col-4x8{
    @include clearfix;
    .col-4{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(4);
        @include make-lg-column(4);
        @include box-sizing();
    }
    .col-8{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(8);
        @include make-lg-column(8);
        @include box-sizing();
    }
}

// 6-6
.col-6x6{
    @include clearfix;
    text-align: center;
    padding: 2em 0;
    .col-6{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
        @include box-sizing();
    }
    .pic{
        img{ max-width: 280px; }
    }

}



